[web3]
network = "${NETWORK}"
infura_api_key= "${INFRUA_API_KEY}"
contract_address = "${CONTRACT_ADDRESS}"
inner_contract_address = "${INNER_CONTRACT_ADDRESS}"
base_block = ${BASE_BLOCK}

[exchange]
grpc_endpoint = "http://0.0.0.0:50051"
rest_endpoint = "http://0.0.0.0:50051"

[storage]
db = "postgresql://listener:listener_AA9944@0.0.0.0:5437/eth_listener"
