[web3]
web3_url = "${WEB3_URL}"
contract_address = "${CONTRACT_ADDRESS}"
inner_contract_address = "${INNER_CONTRACT_ADDRESS}"
base_block = 123456

[exchange]
grpc_endpoint = "${EXCHANGE_GRPC}"
rest_endpoint = "${EXCHANGE_REST}"

[storage]
db = "postgresql://fluidex:fluidex@localhost/eth_listener"
